attrs==21.4.0
black==22.1.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
codecov==2.1.12
coverage==6.3.2
flake8==4.0.1
ghp-import==2.0.2
gitchangelog==3.0.4
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
isort==5.10.1
Jinja2==3.0.3
Markdown==3.3.6
MarkupSafe==2.1.1
mccabe==0.6.1
mergedeep==1.3.4
mkdocs==1.2.3
mypy==0.941
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
pkg_resources==0.0.0
platformdirs==2.5.1
pluggy==1.0.0
-e git+https://github.com/wayglem/pubmed-pelias-client.git@4bd07110255ca1f29abb09bf8c49306624ba52c2#egg=pubmed_pelias_client
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.7
pytest==7.1.0
pytest-cov==3.0.0
python-dateutil==2.8.2
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.27.1
six==1.16.0
tomli==2.0.1
types-requests==2.27.14
types-urllib3==1.26.11
typing_extensions==4.1.1
urllib3==1.26.9
watchdog==2.1.6
zipp==3.7.0
